log.level=debug

resolveAllDependencies=false

# PYTHON SPECIFIC SETTINGS
# prereq
python.path=python3
python.pipPath=pip3

# Whether or not to ignore errors of 'pip install -r requirements.txt' command. Default is false.
python.ignorePipInstallErrors=true

# Indicates whether or not to ignore errors of the 'pipenv install' command. Default is false
python.IgnorePipenvInstallErrors=true

# Includes/excludes
includes=**/*.py **/*.c **/*.cc **/*.cp **/*.cpp **/*.cxx **/*.c++ **/*.h **/*.hpp **/*.js **/*.tgz **/*.gzip **/*.tar.bz2 **/*.zip **/*.tar.gz **/*.egg **/*.whl **/*.html **/*.json **/*.sh **/*.yml

excludes=**test/**
